{% extends "base.html" %} {% block title %} Add MCQs {% endblock %} {% block
content %}

<div class="subject-header-img">
  <p align="center" class="semester">MCQs</p>
  <p align="center" class="sem-no-display">Subject : {{sub.subject_ame}}</p>
</div>

<main class="questions-page">
  <ol class="gradient-list">
    {% for mcq in sub.mcqs %}
    <li>
      <div class="questions">{{ mcq.question }}</div>
      <br />
      <span class="questions">a). {{ mcq.option1 }} </span>
      <br />
      <span class="questions">b). {{ mcq.option2 }} </span><br />
      <span class="questions">c). {{ mcq.option3 }} </span><br />
      <span class="questions">d). {{ mcq.option4 }} </span><br /><br />

      <button
        type="button"
        class="close"
        onClick="deleteMCQ({{ mcq.id }}, {{ subId }}, {{ semId }})"
      >
        <span aria-hidden="true">Delete</span>
      </button>
    </li>
    {% endfor %}
  </ol>
</main>

<form method="POST">
  <div class="add-area">
    <div>
      <textarea
        name="mcq"
        id="mcq"
        class="form-control semester-textarea"
        placeholder="Enter Question"
      ></textarea>
    </div>
    <div class="options">
      <span class="option-number">a)</span>&nbsp;&nbsp;
      <input
        type="text"
        name="option1"
        required
        class="option-input"
        placeholder="Enter option 1"
      />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <span class="option-number">b)</span>&nbsp;&nbsp;
      <input
        type="text"
        name="option2"
        required
        class="option-input"
        placeholder="Enter option 2"
      />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <span class="option-number">c)</span>&nbsp;&nbsp;
      <input
        type="text"
        name="option3"
        required
        class="option-input"
        placeholder="Enter option 3"
      />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <span class="option-number">d)</span>&nbsp;&nbsp;
      <input
        type="text"
        name="option4"
        required
        class="option-input"
        placeholder="Enter option 4"
      />
    </div>
    <div>
      <button type="submit" class="sem-btn">Add</button>
    </div>
  </div>
</form>
{% endblock %}
