{% extends "base.html" %} {% block title %} Generate Question Paper {% endblock
%} {% block content %}
<div class="header-img">
  <p align="center" class="semester">SELECT SEMESTER</p>
</div>
<div class="select-sem">
  <div class="select-sem-container">
    {% for sem in sems %}
    <div class="card">
      <div class="face face1">
        <div class="sel-sem-buttons" onClick="displaySubs({{sem.id}})">
          View Subjects
        </div>
      </div>
      <div class="face face2">
        <h2 align="center" class="dashboard-header">{{sem.sem}}</h2>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
