{% extends "base.html" %} {% block title %} Sub Questions {% endblock %} {%
block content %}
<form method="POST">
  <div class="addtemp-background">
    <div class="addtemp-container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="subq-app-title">
              <!---  <div>Subquestions for : {{temp.name}}</div> -->
            </div>
          </div>
          <div class="screen-body-item">
            <div class="sub-app-form">
              {% set comp = compul %} {% set op = opt %} {% set all =
              (2*op)+comp %}
              <div class="sub-app-form-group">
                {% for i in range(comp) %}
                <label class="subq-label" for="{{i+1}}"
                  >Enter number of subquestions for Q{{i+1}}
                </label>

                <input
                  type="number"
                  min="0"
                  max="10"
                  class="app-form-control"
                  id="{{i+1}}"
                  name="{{i+1}}"
                  placeholder="Enter number of subquestions"
                />
                {% endfor %}
              </div>

              <div class="sub-app-form-group">
                {% set count = namespace(value=1) %} {% for i in range(op) %}
                <label class="subq-label" for="{{comp+i+1}}"
                  >Enter number of subquestions for
                  Q{{comp+i+count.value}}</label
                >
                <input
                  type="number"
                  min="0"
                  max="10"
                  class="app-form-control"
                  id="{{comp+i+count.value}}"
                  name="{{comp+i+count.value}}"
                  placeholder="Enter number of subquestions"
                />

                <div class="or">OR</div>
                <label class="subq-label" for="{{comp+i+count.value+1}}"
                  >Enter number of subquestions for
                  Q{{comp+i+count.value+1}}</label
                >
                <input
                  type="number"
                  min="0"
                  max="10"
                  class="app-form-control"
                  id="{{comp+i+count.value+1}}"
                  name="{{comp+i+count.value+1}}"
                  placeholder="Enter number of subquestions"
                />
                {% set count.value = count.value + 1 %} {% endfor %}
              </div>
            </div>
              <div class="app-form-group buttons">
                <button type="submit" class="app-form-button">NEXT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
